/**
 * Created by AshZhang on 15/10/29.
 */


@import '../../common/styles/modules/_variables';
@import '../../common/styles/modules/_mixins';


.form-control {
  background: @color-bg;
  position: relative;

  input,
  textarea {
    padding-right: @control-base-size;
  }
}

.form-placeholder {
  pointer-events: none;
}

.form-clear {
  .square(@control-base-size);
  color: @color-text-lightest;
  position: absolute;
    right: 0;
    top: 0;
}


// With or without value
// ---------------------------

.form-has-value {
  color: @color-text;

  > .form-placeholder {
    display: none;
  }
}

.form-no-value {
  color: transparent;

  > .form-placeholder {
    color: @color-text-lightest;
    display: block !important;
    line-height: @control-base-size;
    position: absolute;
      left: 0;
      top: 0;
    width: 100%;
  }

  > .form-clear {
    display: none;
  }
}


// Focused
// ---------------------------

.form-control {

  > :focus {
    color: @color-text;

    & + .form-placeholder {
      display: none;
    }
  }
}


// Validation
// ---------------------------

.form-error {
  color: @color-primary;

  > :focus {
    color: @color-text;
  }

  > .form-placeholder {
    color: @color-primary;
  }
}
