/**
 * Created by AshZhang on 15/10/25.
 */


@import '../../common/styles/modules/_variables';
@import '../../common/styles/modules/_mixins';


.table-rows {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: -webkit-transform @duration @timing;
  transition: transform @duration @timing;

  &.collapsed {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    height: 0;
  }
}

.table-row {
  background: @color-bg;
  padding-left: @gap * 2;
}

.table-row-link {
  .align-items(center);
  .display-flex();
  border-bottom: @border-width solid @color-border;
  color: @color-text-lighter;
  min-height: @control-base-size;
  padding: @gap 0;
  width: 100%;

  img {
    vertical-align: middle;
  }
}

.table-row-left {
  .flex(1);
}

.table-row-text {
}

.table-row-note {
  color: @color-text-lightest;
  font-size: @font-xs;
  line-height: 1;
  margin-top: 0.25rem;
}

.table-row .iconfont,
.table-row-content {
  margin-right: @gap * 2;
}