
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot'); /* IE9*/
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff') format('woff'), /* chrome、firefox */
  url('./iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-triangle-down:before { content: "\e617"; }
.icon-fanhui:before { content: "\e621"; }
.icon-tubiao:before { content: "\e62a"; }
.icon-keyongjifen:before { content: "\e61f"; }
.icon-gengduo:before { content: "\e623"; }
.icon-yanzhengma:before { content: "\e61b"; }
.icon-huodongzhongxin:before { content: "\e620"; }
.icon-tishi:before { content: "\e628"; }
.icon-gerenzhongxin:before { content: "\e61c"; }
.icon-svg03:before { content: "\e61d"; }
.icon-dianhua:before { content: "\e600"; }
.icon-faxian:before { content: "\e601"; }
.icon-arrow-left:before { content: "\e602"; }
.icon-arrow-right:before { content: "\e603"; }
.icon-arrow-up:before { content: "\e604"; }
.icon-saoma:before { content: "\e605"; }
.icon-sousuo:before { content: "\e606"; }
.icon-tixing:before { content: "\e607"; }
.icon-weixin:before { content: "\e608"; }
.icon-wo:before { content: "\e609"; }
.icon-zhuanfa:before { content: "\e60a"; }
.icon-close:before { content: "\e60b"; }
.icon-gou:before { content: "\e60c"; }
.icon-dingdan:before { content: "\e60d"; }
.icon-location:before { content: "\e60e"; }
.icon-gouwuche:before { content: "\e60f"; }
.icon-guanbi:before { content: "\e610"; }
.icon-guanbi2:before { content: "\e611"; }
.icon-plus:before { content: "\e612"; }
.icon-minus:before { content: "\e613"; }
.icon-shijian:before { content: "\e614"; }
.icon-shop:before { content: "\e615"; }
.icon-gift:before { content: "\e61e"; }
.icon-jia:before { content: "\e624"; }
.icon-jian:before { content: "\e625"; }
.icon-loading:before { content: "\e629"; }
.icon-iconliebiaoshitu:before { content: "\e618"; }
.icon-icontupianshitu:before { content: "\e619"; }
.icon-selected:before { content: "\e61a"; }
.icon-gift-bold:before { content: "\e630"; }
.icon-duihuan:before { content: "\e622"; }
.icon-gerenzhongxin1:before { content: "\e62b"; }
.icon-iconfontdatushitu:before { content: "\e62c"; }
.icon-weixuanzhong:before { content: "\e62d"; }
.icon-xuanzhong:before { content: "\e62e"; }
.icon-delete:before { content: "\e626"; }
.icon-edit:before { content: "\e627"; }
.icon-arrow-down:before { content: "\e616"; }
.icon-back:before { content: "\e631"; }
.icon-exclamation:before { content: "\e62f"; }
.icon-unchecked:before { content: "\e632"; }
.icon-checked:before { content: "\e633"; }
.icon-badge:before { content: "\e634"; }
.icon-user:before { content: "\e635"; }
.icon-home:before { content: "\e636"; }
.icon-gift1:before { content: "\e637"; }
.icon-money:before { content: "\e638"; }
.icon-bag:before { content: "\e639"; }
.icon-packet:before { content: "\e63a"; }
.icon-ticket:before { content: "\e63b"; }
.icon-game:before { content: "\e63c"; }
.icon-top:before { content: "\e63d"; }
